.card {
  position: relative;
  width: 160px;
  height: 250px;
  padding: 2rem;
  margin: 2rem;
  border-radius: 18px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
}

.cardHeader {
  position: absolute;
  top: 10px;
  left: 15px;
  right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  opacity: 0.9;
}

.pokemonId {
  color: rgb(27, 27, 27);
  font-weight: 400;
  font-size: 2.2rem;
  font-family: "Teko", sans-serif;
}

.infoIcon {
  border: 1.5px solid rgba(255, 255, 255, 0.521);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: 0.9rem;
  background: none;
  color: white;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.infoIcon:hover{
  border: 1.5px solid rgb(255, 255, 255);
  transform: scale(1.30);
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
}

.pokemonImage {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.cardBody {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
}

.pokemonName {
  color: rgb(27, 27, 27);
  font-family: "Teko", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: capitalize;
  margin: 1rem;
}

.typesContainer {
  display: flex;
  justify-content: center;
  gap: 1rem; 
}

.typeIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.typeIcon:hover{
  transform: scale(1.10);
}

.typeIcon img {
  width: 20px;
  height: 20px;
}