.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 0.8rem;
    margin-bottom: 2rem;
}

.logo {
    height: 4rem;
    object-fit: contain;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.3));
}

.logoSmall {
    height: 2rem;
    object-fit: contain;
    opacity: 0.85;
    transition: opacity 0.2s ease-in-out;
}

.logoSmall:hover {
    opacity: 1;
}

@media (min-width: 600px) {
    .header {
        justify-content: space-around;
    }
}

@media (min-width: 900px) {
    .header {
        justify-content: space-around;
    }

    .logo {
        height: 9rem;
    }

    .logoSmall {
        height: 3.5rem;
    }
}